@charset "utf-8";
table {
	width:100%;
}
.box-reply {
	background-color: #f6f6f6;
	padding: 11px 26px 16px 24px;
}

.pointer{
	cursor:pointer;
}

.pointer:hover{
	text-decoration: underline;
}

.box-reply ul{
	margin: 0;
	padding: 0;
}

.box-reply li{
	list-style: none;
	padding: 0 0 7px;	
}

.comm_cont {
	padding-top: 10px;
	vertical-align: middle;
}

.reply .comm_cont{
	padding: 0 0 0 10px;
	background: url("/images/lionsclubs/reply/ico_comm_re2.gif") no-repeat;
}

.reply-line{
	height: 1px;
	padding: 0;
	overflow: hidden;
	font: 0/0 arial;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

.textarea{
	width: 100%;
	border: 1px solid #bbb;
	line-height: 18px !important;
	margin: 2px 0 2px 0;
	padding: 0 0 0 2px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	resize: none;
	height: 59px; 
	overflow: hidden;
	-ms-overflow-y: hidden;
}

.dsc_comm {
	margin: 8px 0 0 7px;
	padding-left: 10px;
	background: url("/images/lionsclubs/reply/bu_arr.png") no-repeat 0 0;
	font-size: 11px;
	font-family: "돋움",dotum,Helvetica,sans-serif;
}

.h {
	text-align: middle;
}

.btn_edit {
	float: right;
	margin: 0;
}

.btn_edit {
	display: inline-block;
	font-size: 11px;
	font-family: "돋움",dotum,Helvetica,sans-serif;
	letter-spacing: -1px;
	color: #666;
	text-decoration: none;
}

.replyTotalCnt {
	color: #ff3c00;
	
}

.b {
	font-weight: bold;
}

.mention_nicknames {
	color: #ff6c00;
	margin-right: 7px;
}