@CHARSET "UTF-8";

.printBtnBox{margin:0;padding:2px 0;text-align:right;}

.h3{position:relative;height:30px;line-height:30px;margin: 0;padding: 0;background:url("/images/lionsclubs/sub/h3_bg.png") 0 0 repeat-x;clear:both}

.h3 div{height:30px;margin:0;padding:0 0 0 22px;color:#333;font-size:18px;font-weight:bold;letter-spacing:-0.5px;
	background:url("/images/lionsclubs/sub/icon_h3.png") 0 0 no-repeat;}

.printPopupBtn{margin:0;padding:10px 0;text-align:center;clear:both}